<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{ site.title }}</h5>
        <p>跨学科融合创新的个性化养老服务推荐系统</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p>所属学科：生物信息学、医学、数据科学、社会学</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p class="mb-0">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. 保留所有权利。</p>
      </div>
    </div>
  </div>
</footer>
